body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar__photo-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 110px;
    box-shadow: 0 0 5px black ;
}

.top-bar {
    height: 200px;
    width: 100vw;
    background-image: url("../img/quebra-cabeca.png");
    background-size:60%;
    background-repeat: repeat;
}

.top-bar h1, .top-bar h2 {
    background-color: #2658A5;
}

h1 {
    color: white;
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
    color: white;
    font-size: .75rem;
    padding-bottom: 5px;
}

.photo-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    width: 150px;
    position: absolute;
    top: 70px;
    box-shadow: 0 0 5px black ;
}

.photo-profile img {
    width: 150px;
}

#name {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}

.laws {
    text-align: center;
    margin: 10px;
    color: #2658A5;
    font-weight: 600;
}

.data {
    background-color: rgb(214, 235, 252);
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.birth,
.full-name, 
.responsible,
.contact {
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: left;
    margin: 10px 0;
}

.contact a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.link-laudo {
    background-color: rgb(24, 24, 225);
    font-size: 1rem;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 50px;
}

.link-laudo a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    background-color: #2658A5;
    width: 100%;
    font-size: .75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}